@charset "UTF-8";
:root {
  --1px: 1px;
  ---2px: -2px;
  --2px: 2px;
  ---4px: -4px;
  --4px: 4px;
  ---8px: -8px;
  --8px: 8px;
  ---16px: -16px;
  --16px: 16px;
  ---32px: -32px;
  --32px: 32px;
  ---50px: -50px;
  --50px: 50px;
  ---55px: -55px;
  --55px: 55px;
  ---64px: -64px;
  --64px: 64px;
  ---75px: -75px;
  --75px: 75px;
  ---100px: -100px;
  --100px: 100px;
  ---128px: -128px;
  --128px: 128px;
  ---150px: -150px;
  --150px: 150px;
  ---256px: -256px;
  --256px: 256px;
  ---512px: -512px;
  --512px: 512px;
  ---720px: -720px;
  --720px: 720px;
}

@media (max-width: 720px) {
  :root {
    --1px: 0.139vw;
    ---2px: -0.278vw;
    --2px: 0.278vw;
    ---4px: -0.556vw
    --4px: 0.556vw
    ---8px: -1.112vw;
    --8px: 1.112vw;
    ---16px: -2.224vw;
    --16px: 2.224vw;
    ---32px: -4.448vw;
    --32px: 4.448vw;
    ---50px: -6.95vw;
    --50px: 6.95vw;
    ---55px: -7.639vw;
    --55px: 7.639vw;
    ---64px: -8.896vw;
    --64px: 8.896vw;
    ---75px: -10.417vw;
    --75px: 10.417vw;
    ---100px: -13.9vw;
    --100px: 13.9vw;
    ---128px: -17.792vw;
    --128px: 17.792vw;
    ---150px: -20.833vw;
    --150px: 20.833vw;
    ---212px: -29.468vw;
    --212px: 29.468vw;
    ---256px: -35.584vw;
    --256px: 35.584vw;
    ---512px: -71.111vw;
    --512px: 71.111vw;
    ---720px: -100vw;
    --720px: 100vw;
  }
}
@media (min-width: 1500px) {
  :root {
    --1px: 0.067vw;
    ---2px: 0.134vw;
    --2px: 0.134vw;
    ---4px: 0.267vw;
    --4px: 0.267vw;
    ---8px: -0.536vw;
    --8px: 0.536vw;
    ---16px: -1.072vw;
    --16px: 1.072vw;
    ---32px: -2.144vw;
    --32px: 2.144vw;
    ---50px: -3.35vw;
    --50px: 3.35vw;
    ---55px: -3.667vw;
    --55px: 3.667vw;
    ---64px: -4.288vw;
    --64px: 4.288vw;
    ---75px: -5vw;
    --75px: 5vw;
    ---100px: -6.7vw;
    --100px: 6.7vw;
    ---128px: -8.576vw;
    --128px: 8.576vw;
    ---150px: -10vw;
    --150px: 10vw;
    ---256px: -17.152vw;
    --256px: 17.152vw;
    ---512px: -34.133vw;
    --512px: 34.133vw;
    ---720px: -48.24vw;
    --720px: 48.24vw;
  }
}
/* Zeroing */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
  color: inherit;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/* Zeroing */
body {
  background-color: #0F0A29;
  margin: 0;
  padding: 0;
  max-width: 100%;
}

img {
  -ms-interpolation-mode: nearest-neighbor;
      image-rendering: -webkit-optimize-contrast;
      image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  -webkit-user-drag: none;
  user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.body_container {
  width: 100%;
  max-width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  overflow: hidden;
}

@font-face {
  font-family: "MishamolPuffedBun2-Regular";
  src: url("fonts/MishamolPuffedBun2-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "MishamolPuffedBun2-Regular", sans-serif;
  font-size: var(--75px);
  color: #FFFFFF;
}

::-moz-selection {
  background: rgba(105, 69, 255, 0.8);
  color: #FFFFFF;
}

::selection {
  background: rgba(105, 69, 255, 0.8);
  color: #FFFFFF;
}

h1 {
  font-size: var(--256px);
}

h2 {
  font-size: var(--150px);
  font-size: var(--100px);
  line-height: 60%;
}

h3 {
  font-size: var(--64px);
}

p {
  line-height: 90%;
}

.button {
  display: inline-block;
  background-color: #FFFFFF;
  color: #5237C5;
  padding: var(--8px) var(--128px) var(--16px);
  border: none;
  border-radius: var(--64px);
  cursor: pointer;
  font-size: var(--75px);
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
       user-select: none;
}
.button:visited {
  outline: none;
  color: #5237C5;
}
.button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-color: #5237C5;
  color: #FFFFFF;
}
.button:active {
  background-color: #5237C5;
  color: #FFFFFF;
}

.navbar {
  height: var(--100px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1050px) {
  .navbar {
    height: calc(var(--100px) * 2);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.navbar_logo {
  height: var(--100px);
  padding-left: var(--16px);
  padding-right: var(--50px);
  background: #B09CFF;
  border-radius: 0 var(--100px) var(--100px) 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.navbar_logo * {
  max-height: 100%;
}
.navbar_logo img {
  padding: var(--16px);
}
.navbar_logo p {
  font-size: var(--75px);
  padding-bottom: var(--16px);
}
.navbar_logo:hover {
  background-color: #5237C5;
}
.navbar .button {
  top: calc(var(--1px) * -18);
  font-size: var(--55px);
  height: var(--64px);
  padding: 0 var(--64px);
  background-color: #B09CFF;
  color: #FFFFFF;
}
.navbar .button:visited {
  outline: none;
  color: #FFFFFF;
}
.navbar .button:hover {
  background-color: #5237C5;
  color: #FFFFFF;
}
.navbar .button:active {
  background-color: #5237C5;
  color: #FFFFFF;
}
.navbar_pages {
  height: var(--100px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 6;
  gap: var(--32px);
  margin: 0 var(--32px);
}
.navbar_pages > li {
  position: relative;
  height: var(--64px);
}
.navbar_pages > li > ul {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  background-color: #FFFFFF;
  border-radius: var(--50px);
  padding: var(--32px);
  padding-top: var(--50px);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 6;
}
.navbar_pages > li > ul > li {
  width: 100%;
  margin: var(--8px);
}
.navbar_pages > li > ul > li > .button {
  width: 100%;
}
.navbar_pages > li > .button {
  position: relative;
  z-index: 7;
}
.navbar_pages > li:hover > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translate(-50%, var(---32px)) scale(1);
          transform: translate(-50%, var(---32px)) scale(1);
}
.navbar_pages_divider {
  position: relative;
  height: var(--8px);
  width: 100%;
  margin: 0 auto;
  border-radius: var(--8px);
  text-align: center;
  background-color: #B09CFF;
}
.navbar_pages_title {
  line-height: 70%;
  text-align: center;
  color: #B09CFF;
  font-size: var(--55px);
}
.navbar_pages_skin {
  width: var(--64px);
  height: var(--64px);
  min-width: var(--64px);
  min-height: var(--64px);
  display: block;
  border-radius: var(--16px);
  position: relative;
  z-index: 7;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  width: var(--8px);
  height: var(--8px);
  background-image: url("img/skin.png");
  background-size: var(--512px) var(--512px);
  background-position: var(---64px) var(---64px);
  background-repeat: no-repeat;
  -ms-interpolation-mode: nearest-neighbor;
      image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: crisp-edges;
  image-rendering: -webkit-optimize-contrast;
}
.navbar_pages_skin:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: var(--64px);
}

.header {
  height: 100vh;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  padding-left: var(--32px);
  padding-right: var(--32px);
  background-image: url("img/header-background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.header h1 {
  display: block;
  text-align: center;
}
.header h3 {
  display: block;
  text-align: center;
  margin-top: var(---16px);
}
.header .button {
  margin-top: var(--100px);
  margin-bottom: var(--50px);
}

.quote-admin {
  height: var(--256px);
  background-image: url("img/pattern.svg");
  background-size: var(--1024px);
  background-position: top;
  background-repeat: repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.quote-admin > div {
  position: absolute;
  z-index: 1;
  height: var(--100px);
  background-color: #0F0A29;
  width: 100%;
}
.quote-admin h2 {
  text-align: center;
  z-index: 2;
  margin-bottom: var(--32px);
}

.contacts {
  height: var(--256px);
  background-image: url("img/header-background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.round {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  line-height: normal;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: var(--50px);
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
       user-select: none;
}
.round_icon {
  display: inline-block;
  width: var(--100px);
  height: var(--100px);
  margin: 0;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.round_icon:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.round_icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}
.round a {
  display: inline-block;
  width: auto;
  height: auto;
  padding: 0;
}

@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%); /* Начальная позиция справа */
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%); /* Конечная позиция слева */
  }
}

@keyframes scroll {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%); /* Начальная позиция справа */
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%); /* Конечная позиция слева */
  }
}
.marquee {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.marquee_group, .marquee_duplicate {
  -webkit-animation: scroll 50s infinite linear;
          animation: scroll 50s infinite linear;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.marquee_group > *, .marquee_duplicate > * {
  margin-left: var(--32px);
}
.marquee_group > * img, .marquee_duplicate > * img {
  width: var(--256px);
  height: var(--256px);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.marquee_group > * img:hover, .marquee_duplicate > * img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}