:root {
	--1px: 1px;

	---2px: -2px;
	--2px: 2px;

	---4px: -4px;
	--4px: 4px;

	---8px: -8px;
	--8px: 8px;

	// --12px: 12px; // Buttons

	---16px: -16px;
	--16px: 16px;

	---32px: -32px;
	--32px: 32px;

	// --40px: 40px; // Buttons

	---50px: -50px;
	--50px: 50px;

	---55px: -55px;
	--55px: 55px;

	// --56px: 56px; // Logo

	---64px: -64px;
	--64px: 64px;

	---75px: -75px;
	--75px: 75px;

	---100px: -100px;
	--100px: 100px;

	---128px: -128px;
	--128px: 128px;

	---150px: -150px;
	--150px: 150px;

	// ---212px: -212px;
	// --212px: 212px;

	---256px: -256px;
	--256px: 256px;

	// --424px: 424px;

	---512px: -512px;
	--512px: 512px;

	---720px: -720px;
	--720px: 720px;
}

// vw = px / 720 * 100
@media (max-width: 720px) {
	:root {
		--1px: 0.139vw;

		---2px: -0.278vw;
		--2px: 0.278vw;

		---4px: -0.556vw
		--4px: 0.556vw

		---8px: -1.112vw;
		--8px: 1.112vw;

		// --12px: 1.668vw; // Buttons

		---16px: -2.224vw;
		--16px: 2.224vw;

		---32px: -4.448vw;
		--32px: 4.448vw;

		// --40px: 5.56vw; // Buttons

		---50px: -6.95vw;
		--50px: 6.95vw;

		---55px: -7.639vw;
		--55px: 7.639vw;

		// --56px: 7.784vw; // Logo

		---64px: -8.896vw;
		--64px: 8.896vw;

		---75px: -10.417vw;
		--75px: 10.417vw;

		---100px: -13.9vw;
		--100px: 13.9vw;

		---128px: -17.792vw;
		--128px: 17.792vw;

		---150px: -20.833vw;
		--150px: 20.833vw;

		---212px: -29.468vw;
		--212px: 29.468vw;

		---256px: -35.584vw;
		--256px: 35.584vw;

		// --424px: 58.936vw;

		---512px: -71.111vw;
		--512px: 71.111vw;

		---720px: -100vw;
		--720px: 100vw;
	}
}

// vw = px / 1500 * 100
@media (min-width: 1500px) {
	:root {
		--1px: 0.067vw;

		---2px: 0.134vw;
		--2px: 0.134vw;

		---4px: 0.267vw;
		--4px: 0.267vw;

		---8px: -0.536vw;
		--8px: 0.536vw;

		// --12px: 0.804vw; // Buttons

		---16px: -1.072vw;
		--16px: 1.072vw;

		---32px: -2.144vw;
		--32px: 2.144vw;

		// --40px: 2.68vw; // Buttons

		---50px: -3.35vw;
		--50px: 3.35vw;

		---55px: -3.667vw;
		--55px: 3.667vw;

		// --56px: 3.752vw; // Logo

		---64px: -4.288vw;
		--64px: 4.288vw;

		---75px: -5vw;
		--75px: 5vw;

		---100px: -6.7vw;
		--100px: 6.7vw;

		---128px: -8.576vw;
		--128px: 8.576vw;

		---150px: -10vw;
		--150px: 10vw;

		// ---212px: -14.204vw;
		// --212px: 14.204vw;

		---256px: -17.152vw;
		--256px: 17.152vw;

		// --424px: 28.408vw;

		---512px: -34.133vw;
		--512px: 34.133vw;

		---720px: -48.24vw;
		--720px: 48.24vw;
	}
}