// /* Logo with title */

// position: absolute;
// width: 308px;
// height: 100px;
// left: 0px;
// top: 0px;

// background: #B09CFF;
// border-radius: 0 100px 100px 0;



.navbar {
	height: var(--100px);

	@media (max-width: 1050px) {
		height: calc(var(--100px) * 2);
		flex-direction: column;
	}

	display: flex;
	justify-content: space-between;
	

	&_logo {
		height: var(--100px);

		padding-left: var(--16px);
		padding-right: var(--50px);
		background: $purple-pastel;
		border-radius: 0 var(--100px) var(--100px) 0;

		display: flex;
		flex-direction: row;
		align-items: center;

		transition: 0.3s ease-in-out;

		* {
			max-height: 100%;
		}

		img {
			padding: var(--16px);
		}

		p {
			font-size: var(--75px);
			padding-bottom: var(--16px);
		}

		&:hover {
			background-color: $purple-dark;
		}
	}

	.button {
		top: calc(var(--1px) * -18); //! КОСТЫЛЬ

		font-size: var(--55px);
		height: var(--64px);
		padding: 0 var(--64px);

		background-color: $purple-pastel;
		color: $white;


		&:visited {
			outline: none;
			color: $white;
		}
	
		&:hover {
			background-color: $purple-dark;
			color: $white;
		}
	
		&:active {
			background-color: $purple-dark;
			color: $white;
		}
	}

	&_pages {
		height: var(--100px);

		//^ 1 level
		display: flex;
		align-items: center;
		z-index: 6;

		gap: var(--32px);
		margin: 0 var(--32px);

		>li {
			//^ 2 level
			position: relative;
			height: var(--64px);

			>ul {
				position: absolute;
				display: flex; // display: none
				left: 50%;
				transform: translate(-50%, -50%) scale(0);
				transition: transform 0.3s ease-in-out;

				background-color: $white;
				border-radius: var(--50px);
				padding: var(--32px);
				padding-top: var(--50px);

				flex-direction: column;
				align-items: center;
				z-index: 6;

				>li {
					width: 100%;
					margin: var(--8px);

					>.button {
						width: 100%;
					}
				}
			}

			>.button {
				position: relative;
				z-index: 7;
			}

			&:hover>ul {
				display: flex;
				transform: translate(-50%, var(---32px)) scale(1);
			}
		}




		&_divider {
			position: relative;
			height: var(--8px);
			width: 100%;
			margin: 0 auto;
			border-radius: var(--8px);
			text-align: center;
			background-color: $purple-pastel;
		}

		&_title {
			line-height: 70%;
			text-align: center;
			color: $purple-pastel;
			font-size: var(--55px);
		}



		&_skin {
			width: var(--64px);
			height: var(--64px);
			min-width: var(--64px);
			min-height: var(--64px);

			display: block;
	
			// background: url(img/skin.png);
			border-radius: var(--16px);

			position: relative;
			z-index: 7;
	
			// /* Inside auto layout */
			// flex: none;
			// order: 2;
			// flex-grow: 0;

			transition: transform 0.3s ease-in-out;

			&:hover {
				transform: scale(1.1);
			}



			width: var(--8px);
			height: var(--8px);
			background-image: url('img/skin.png');
			background-size: var(--512px) var(--512px);
			background-position: var(---64px) var(---64px);
			background-repeat: no-repeat;

			image-rendering: pixelated;
			image-rendering: -moz-crisp-edges;
			image-rendering: -o-crisp-edges;
			image-rendering: crisp-edges;
			image-rendering: -webkit-optimize-contrast;
		
		}




	}






}