.navbar {

	&_burger {
		// position: fixed;
		position: absolute;
		top: var(--32px);
		left: var(--50px);
		z-index: 5;

		-webkit-user-select: none;
		-ms-user-select: none;
		user-select: none;

		&_logo {
			width: var(--56px);
			height: var(--56px);
			border: none;
			background-color: transparent;
			cursor: pointer;
			transition: transform 0.3s ease-in-out;

			&:hover {
				transform: scale(1.1);
			}
		}
	}




	&_round {
		flex-grow: 0; //^ Self in _container
		display: block;
		text-align: right;
		margin: var(--32px) var(--50px) var(--32px) auto;

		-webkit-user-select: none;
		-ms-user-select: none;
		user-select: none;

		&_icon {
			display: inline-block;
			width: var(--64px);
			height: var(--64px);
			margin: 0;
			transition: transform 0.3s ease-in-out;

			&:hover {
				transform: scale(1.1);
			}

			& img {
				width: 100%;
				height: 100%;
				object-fit: fill;
			}
		}

		a {
			display: inline-block;
			width: auto;
			height: auto;
			margin-left: var(--16px);
			padding: 0;
		}
	}




	&_pages {
		//^ 1 level
		flex-grow: 1; //^ Self in _container
		margin: var(--32px) auto;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		z-index: 6;

		>li {
			//^ 2 level
			position: relative;

			>ul {
				position: absolute;
				display: flex; // display: none
				left: 50%;
				transform: translate(-50%, -50%) scale(0);
				transition: transform 0.3s ease-in-out;

				background-color: $purple-black;
				border-radius: var(--50px);
				padding: var(--32px);
				padding-top: var(--50px);

				flex-direction: column;
				align-items: center;
				z-index: 6;


				>li {
					width: 100%;
					margin: var(--8px);

					>.button {
						width: 100%;
					}



				}
			}

			>.button {
				position: relative;
				z-index: 7;
			}

			&:hover>ul {
				display: flex;
				transform: translate(-50%, var(---32px)) scale(1);
			}
		}




		&_divider {
			position: relative;
			height: var(--8px);
			width: 100%;
			margin: 0 auto;
			border-radius: var(--8px);
			text-align: center;
			background-color: $white;
		}

		&_title {
			line-height: 70%;
			text-align: center;
		}
	}




	&_container {
		display: block;
	}




	@media (min-width: 1100px) {
		&_container {
			padding-left: var(--128px); //^ Burger width

			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-direction: row-reverse;
		}
	}




}