<!-- <p>Selinity {{ now.Year }} Селинити</p> -->




<div class="contacts">
	<div class="round">
		<a href="https://discord.gg/qvBz6N4GsV" target="_blank">
			<div class="round_icon">
				<img src="/images/round_discord.svg" alt="Discord">
			</div>
		</a>
		<a href="https://t.me/SelinityMinecraft" target="_blank">
			<div class="round_icon">
				<img src="/images/round_telegram.svg" alt="Telegram">
			</div>
		</a>
		<a href="https://www.youtube.com/@SelinityMinecraft?sub_confirmation=1" target="_blank">
			<div class="round_icon">
				<img src="/images/round_youtube.svg" alt="YouTube">
			</div>
		</a>
		<a href="http://tiktok.com/@SelinityMinecraft" target="_blank">
			<div class="round_icon">
				<img src="/images/round_tiktok.svg" alt="TikTok">
			</div>
		</a>
	</div>
</div>